
  .ctest_image{
    width: 140px;
    height: 140px;
    padding: 8px;
    top: 0;
    position: relative;
    -webkit-user-drag: none;
  
  }
  .cimg-text{
    text-align: center;
    justify-items: center;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    height: 42px;
    color: black;
  
  }
  
  .cimage-pack{
      height: 190px;
      width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px black solid;
    margin: 0  auto;
    margin-top: 1%;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:beige;
    padding: 6px;
    transition: 400ms;
    cursor: pointer;
  
  
  }
  
  
  .cimage-pack:hover{
    background-color: #f3e6e8;
  background-image: linear-gradient(315deg, #f3e6e8 0%, #d5d0e5 74%);
        -webkit-transform: scale(1.08);
        -ms-transform: scale(1.08);
        transform: scale(1.1)
  }


   /* Extra Small Devices, Phones */ 
 @media only screen and (max-width : 480px) {
  .ctest_image{
    width: 80px;
    height: 80px;

  
  }
  .cimage-pack{
    margin-top: 8%;
    height: 110px;
    width: 100px;



}


}

